:root {
    --red: #e72e29;
    --orange: #e65c00;
    --yellow: #e6e600;
    --brown: #993333;
    --green: #336600;
    --blue: #00a6ff;
    --purple: #660099;
    --grey: #666666;
    --pink: #ff66cc;
}

body {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin: 10px;
}

h1 {
    color: var(--red);
    font-weight: 700;
}

p {
    font-size: 16px;
}

.pokemon-list {
    list-style: none;
    margin: 20px;
    padding: 0px;
}

.pokemon-list-button {
    font-family: inherit;
    margin: 5px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    min-width: 200px;
    font-weight: 700;
}
.card {
    border: none;
}

/* Type button styles */
.type-button {
    font-family: inherit;
    margin: 5px;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
    color: #000;
    font-weight: 700;
    background: var(--grey);
}

.grass {
    background: var(--green);
}

.fire {
    background: var(--orange);
}

.fairy {
    background: var(--pink);
}

.water {
    background: var(--blue);
}

.electric {
    background: var(--yellow);
}

.bug {
    background: var(--brown);
    color: #fff;
}

.poison {
    background: var(--purple);
    color: #fff;
}

.normal {
    background: var(--grey);
}

.fighting {
    background: var(--red);
}

.flying {
    background: var(--purple);
    color: #fff;
}

.rock {
    background: var(--grey);
}

.ground {
    background: var(--brown);
    color: #fff;
}

.psychic {
    background: var(--purple);
    color: #fff;
}

.ghost {
    background: var(--blue);
}

.ice {
    background: var(--blue);
}

.dragon {
    background: var(--orange);
}

.dark {
    background: #000;
    color: #fff;
}

.steel {
    background: var(--grey);
}

.stellar {
    background: var(--yellow);
}
