:root {
    --red: #e72e29;
    --orange: #e65c00;
    --yellow: #e6e600;
    --brown: #993333;
    --green: #336600;
    --blue: #0000cc;
    --purple: #660099;
    --grey: #666666;
}

body {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin: 10px;
}

h1 {
    color: var(--red);
    font-weight: 700;
}

.pokemon-list {
    list-style: none;
    margin: 20px;
    padding: 0px;
}

.pokemon-list-button {
    font-family: inherit;
    margin: 5px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 200px;
    font-weight: 700;
}

.grass {
    color: var(--green);
}

.fire {
    color: var(--orange);
}

.water {
    color: var(--blue);
}

.electric {
    color: var(--yellow);
}

.bug {
    color: var(--brown);
}

.poison {
    color: var(--purple);
}

.normal {
    color: var(--grey);
}

/* Modal styles */
#modal-container{
    display: none;
}
#modal-container.is-visible{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* to show it above other content */
    z-index: 999; 
    display: grid;
    text-align: center;
}

.modal{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    min-width: 200px;
    margin: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-close{
    float: right;
    font-size: 16px;
    border: none;
    background: none;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    #pokemonListText {
        font-size: 14px;
        margin: 12px;
        border-radius: 10px;
        padding: 10px;
    }

    .pokeball {
        width: 200px;
        height: 200px;
    }
}